---
import Root from "@/layouts/Root.astro";
import { EmailCollect } from "@/lib/components/EmailCollect";
import { EmailList as EmailListComponent } from "@/lib/components/EmailList";
import { db, EmailList } from "astro:db";

const loadedEmails = await db.select().from(EmailList);
---

<Root>
  <nav>
    <h2>SAMPLE EMAIL LIST</h2>
  </nav>
  <EmailCollect client:load />
  <EmailListComponent emails={loadedEmails} />
</Root>
