---
import Root from "@/layouts/Root.astro";
import { parseApiResponse } from "@/lib/helper";
import { EmailCollect } from "@/lib/components/EmailCollect";
import { EmailList } from "@/lib/components/EmailList";
import api from "@/lib/api/client";

const loadedEmails = await parseApiResponse(api.emails.$get());
---

<Root>
  <nav>
    <h2>SAMPLE EMAIL LIST</h2>
  </nav>
  <EmailCollect client:load />
  <EmailList emails={loadedEmails.data ? loadedEmails.data.emailList : []} />
</Root>
